@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --box-shadow: inset 0 0 10px #5f5f5f;
  --theam-color: rgb(0, 0, 0);
  --theam-text-color: rgb(218, 84, 84);
  --text-color: rgb(218, 84, 84);
  --title-color:white;
}


* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: var(--text-color);
}
.color{
  color: var(--theam-text-color);
}
.colorWhite{
  color: var(--title-color);
}
button{
  font-size: 2rem;
  padding: 8px 28px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--theam-text-color);
 
}

.sectionTitle {
  /* margin: 29px; */
  color: var(--title-color);
  text-align: center;
  font-size: 3rem;
  font-family: Open Sans;
}
.underline {
    width: 25%;
    margin: auto;
  }

  .container{
      width: 90%;
      margin: auto;
  }
  
.price{
    color: white;
}
.discount-price{
    color: green;
    text-decoration: line-through;
}

.music-player{
  z-index: 998;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 160px;
  display: none;
  /* background-color: aliceblue; */
}

.music-player .container .music-img img{
  width: 15rem;
  margin: auto;
  
}

.music-player .container{
  background-color: var(--theam-color);

  box-shadow: var(--box-shadow);
  padding: 10px 20px;
  font-size: 1.5rem;
  display: flex;
  
}

.music-player .container .music-space{
  justify-content: space-between;
  width: 90%;
  margin: 9px;
  display: flex;
  align-items: center;
}


.music-player .container .music-bar{
 
  width: 60%;

}
.music-player .container .music-bar .waveform{
  width: 100%;
  height: 50px;
}
.music-player .container .music-controler{
  font-size: 3rem;
  cursor: pointer;
}
.music-player .container .music-controler div:hover{

  transform: scale(0.8);

}

.music-player .container .music-controler div{
display: inline-block;
}
.music-player .container .volume-controler{
  font-size: 3rem;
  cursor: pointer;
  
}

.music-player .container .volume-controler:hover{
  transform: scale(0.8);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--theam-color);
  background: transparent;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--theam-text-color);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .navbar a {
  font-size: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--theam-text-color);
}

header .navbar a.active,
header .navbar a:hover {
  background-color: var(--theam-text-color);
  color: var(--theam-color);
}

header .icons ion-icon {
  cursor: pointer;
  margin-left: 0.5rem;
  /* height: 4.5rem; */
  line-height: 4.5rem;
  /* width: 4.5rem; */
  text-align: center;
  font-size: 2rem;
  color: var(--theam-text-color);
  padding: 2px;
  border-radius: 50%;
}

header .icons ion-icon:hover {
  color: var(--theam-color);
  background-color: var(--theam-text-color);
}

header .icons #menu-bars {
  display: none;
}

main .carousel-img {
  width: 100%;
}


.music .music-space{ 
  display: grid;
  grid-auto-flow: column;  
  /* grid-template-row: 1fr 1fr; */
  
}
.music .music-space .song{
  
  width: 400px;
  height: 400px;
  background-color: #5f5f5f;
  margin: 5px;

}



.featured-artist .container {
  width: 90%;
  margin: auto;
  display: flex;
}

.featured-artist .container div {
  width: 50%;
  margin: auto;
}


.featured-artist .container .desc {
  padding: 8px;
  margin: 20px;
}

.featured-artist .container .desc .artist-title {
  color: var(--title-color);
  text-align: end;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: open sans, Sans-serif;
  text-transform: uppercase;
}
.featured-artist .container .desc .artist-subTitle {
  color: var(--theam-text-color);
}

.featured-artist .container .desc .artist-intro {
  font-size: 1.5rem;
  /* overflow-y: scroll; */

  color: var(--text-color);
  text-align: right;
}
.featured-artist .container .artist-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.featured-artist .container .artist-img img {
  width: 100%;
}
.events .container{
  width: 60%;
  font-size: 1.5rem;
}
.events .container .event button{
  font-size: 1.5rem;
 
  padding: 5px 10px;

}

.events .container .event{
  padding: 8px 0; 
  border-bottom: 1px solid var(--theam-text-color);
  border-top: 1px solid var(--theam-text-color);
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.events .container .event .event-desc {
  display: flex;
}
.events .container .event .event-desc .eventDate{
  text-align: end;
}

 .events .container .event .event-desc .eventInfo{
 margin-left:  18px;
 padding-left:  18px;
 border-left: 3px solid var(--theam-text-color);
}
.events .container .event .event-desc .eventInfo .eventTitle{
  font-size: 2rem;
  font-weight: 600;
  color: var(--title-color);
}
.events .container .event .event-desc .eventDate .DD{
  font-size: 2.5rem;
  font-weight: 700;
}

footer {
  /* position: absolute; */
  bottom: 0;
  color: var(--theam-text-color);
  padding: 2rem;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  background-color: var(--theam-color);
  text-transform: none;
}

.merchandise{
    text-align: center;
    margin-top: 50px;
}

.merchandise h1{
    font-size: 3rem;
    color: var(--title-color);
}
.merchandise .container{
    padding: 20px;
    overflow-x: scroll;
    display: flex;
    
}


.merchandise .container::-webkit-scrollbar {
  display: none;
}


.merchandise .container .card{
    /* border: 1px solid white; */
    /* display: inline-block; */
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #5f5f5f;
    width: 370px;
    margin:20px;
   
   
}


.merchandise .container .card .card-desc .title{
    color: var(--text-color);
    font-size: 2rem;
    float: left;
    
    
    
}
.merchandise .container .card .card-desc .card-price{
    
    float: left;
    
    
}
.merchandise .container .card .card-desc .card-info{
    text-align: justify;
    padding: 5px;
    /* border-bottom: 1px solid var(--text-color); */
    width: 98%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.merchandise .container .card .card-desc button{
    padding: 5px;
    background-color: var(--text-color);
    border-radius: 5px;
    color: var(--theam-color);
    float: right;
}

.card-img{
    /* background-color: azure; */
}

.contactUs .container{ 
  width: 75%;
  display: flex;
  
}
.contactUs .container .address, .contactUs .container .form{ 
margin: 10px;
border: 1px solid var(--theam-text-color);
padding: 15px;
border-radius: 5px;
width: 50%;
font-size: 1.5rem;
  
}

.contactUs .container .form div{
  margin: 5px;
  
} 
.contactUs .container .form div input , .contactUs .container .form div textarea{
  width: 100%;
  height: 30px;
  border: 1px solid var(--theam-text-color);
  background:none;
  color: white;
  padding: 8px;
}
.contactUs .container .form div textarea{
  height: 60px;
  text-align: left;
}

@media (max-width: 1050px) {
  html {
    font-size: 45%;
  }

  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 760px) {

  

  .music-player .container .music-space .music-desc {
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
  }
  
  .music-player .container .music-space{
    display: block;
    margin: 2px;
    text-align: center;
  }

  .music-player .container .music-space .music-bar {
    width: 80%;
    display: inline-block;
  }
  .music-player .container .music-space .music-bar .waveform{
    width: 100%;
  }
  .music-player .container .music-space .volume-controler {
    margin-top: 10px 0 0 10px!important;
    display: inline-block;
  }
  .music-player .container .music-space .music-controler{
   margin: 10px 0;
  }
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--theam-color);
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem;
    transform: translateX(100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background-color: var(--theam-color);
  }


  .events .container{
    width: 90%;
   
  }

  .underline {
    width: 45%;
  }

  .featured-artist .container {
   
    display: block;
  }

  .featured-artist .container div {
    width: 100%;
    margin: auto 15px;
  }
  
  .featured-artist .container .desc {
    margin: auto;
    text-align: center;
  }
  .merchandise .container {
    padding: 0;
    margin: 0;
  }

  .merchandise .container .card{
   width: 250px;
   margin: 10px;


  }

  .merchandise .container .card:first-child{

    margin-left: 20px ;

  }

  .contactUs .container{ 
    display: block;
 
  }
  .contactUs .container .address, .contactUs .container .form{ 
    width: 100%;
    margin:10px 0;
  }
  
}

@media (max-width: 991px) {
  html {
    font-size: 40%;
  }

  .underline {
    width: 50%;
  }
}



