

 /* *************** Appearing slide With Chage end ****************** */

.AppearingslideWithChage{
    max-width: 700px;
    border: 10px solid #444444;
    margin: 80px auto;
    position: relative;
    overflow: hidden;
}

.AppearingslideWithChage .left-slide,.AppearingslideWithChage .right-slide{

position: absolute;
height: 40px;
width: 40px;
background-color: #444444;
border-radius: 50%;
color: #fff;
font-size: 20px;
cursor: pointer;
top: 50%;
margin-top: -20px;
text-align: center;
line-height: 40px;

}

.AppearingslideWithChage .left-slide:hover,.AppearingslideWithChage .right-slide:hover{

background-color: var(--theam-text-color);
box-shadow: 0px 0px 10px black ;

}


.AppearingslideWithChage .left-slide{

    left: 30px;

}

.AppearingslideWithChage .right-slide{

    right: 30px;

}

.AppearingslideWithChage .AppearingslideWithChage-items-list .AppearingslideWithChage-item img{

    max-width: 100%;
    display: block;
    animation: zoom 1s ease;

}

@keyframes zoom{
    0%{transform: scale(2);opacity:0}
    50%{transform: scale(2);opacity:0}

    100%{transform: scale(1);opacity:01}
}

.AppearingslideWithChage .AppearingslideWithChage-items-list .AppearingslideWithChage-item{
    display: none;
    position: relative;
    
}
.AppearingslideWithChage .AppearingslideWithChage-items-list .AppearingslideWithChage-item.active{
	display: block;
}

/*  *************** Appearing slide With Chage end ****************** */




/*  ******************appearing Img Slide start ********************** */



.appearingImage{
    display: block;
    width: auto;
    margin: auto;
    border: 10px solid #444444;
}


/*  ******************appearing Img Slide end ********************** */

